In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
import folium

print("Her şey doğru çalışıyor!")

Matplotlib is building the font cache; this may take a moment.

Her şey doğru çalışıyor!

In [3]:
import os

os.listdir("../data/raw")

['public_emdat_custom_request_2025-11-22_fc1861af-0c81-43ce-a197-ab678ab7dd06.xlsx',
 'turkey_earthquakes(1915-2024_feb).csv']

In [4]:
df_kaggle = pd.read_csv("../data/raw/turkey_earthquakes(1915-2024_feb).csv")
df_kaggle.head()

,No,Deprem Kodu,Olus tarihi,Olus zamani,Enlem,Boylam,Derinlik,xM,MD,ML,Mw,Ms,Mb,Tip,Yer
0,1,20231231222846,2023.12.31,22:28:46.51,37.4900,43.7095,2.6,3.8,0.0,3.8,3.8,0.0,0.0,Ke,BAYKOY- (HAKKARI) [South 6.8 km]
1,2,20231231170605,2023.12.31,17:06:05.42,37.4405,43.9263,5.0,4.5,0.0,4.5,4.4,0.0,0.0,Ke,YAZILI-YUKSEKOVA (HAKKARI) [South West 3.6 km]
2,3,20231231165304,2023.12.31,16:53:04.13,37.4942,43.6955,5.0,3.5,0.0,3.5,3.4,0.0,0.0,Ke,CIMENLI- (HAKKARI) [East 6.1 km]
3,4,20231231163755,2023.12.31,16:37:55.84,37.4763,43.6965,5.0,4.6,0.0,4.6,4.4,0.0,0.0,Ke,CIMENLI- (HAKKARI) [South East 6.3 km]
4,5,20231230204324,2023.12.30,20:43:24.21,40.2272,29.1705,12.9,3.6,0.0,3.6,3.4,0.0,0.0,Ke,GURSU (BURSA) [North West 2.2 km]

In [6]:
df_emdat = pd.read_excel("../data/raw/public_emdat_custom_request_2025-11-22_fc1861af-0c81-43ce-a197-ab678ab7dd06.xlsx")
df_emdat.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1924-0009-TUR,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,TUR,...,NaN,NaN,NaN,NaN,NaN,NaN,5.450419,NaN,2019-08-07,2023-09-25
1,1924-0011-TUR,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,TUR,...,NaN,NaN,NaN,NaN,NaN,NaN,5.450419,NaN,2019-08-07,2023-09-25
2,1925-0009-TUR,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,TUR,...,NaN,NaN,NaN,NaN,NaN,NaN,5.577915,NaN,2019-08-07,2023-09-25
3,1925-0013-TUR,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,TUR,...,NaN,NaN,NaN,NaN,NaN,NaN,5.577915,NaN,2019-08-07,2023-09-25
4,1928-0005-TUR,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,TUR,...,NaN,NaN,NaN,NaN,NaN,NaN,5.482293,NaN,2003-07-01,2023-09-25

In [8]:
df_kaggle.info()
df_kaggle.describe()

df_emdat.info()
df_emdat.describe()

df_kaggle.isna().sum()
df_emdat.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20307 entries, 0 to 20306
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   No           20307 non-null  int64
 1   Deprem Kodu  20307 non-null  int64
 2   Olus tarihi  20307 non-null  object
 3   Olus zamani  20307 non-null  object
 4   Enlem        20307 non-null  float64
 5   Boylam       20307 non-null  float64
 6   Derinlik     20307 non-null  float64
 7   xM           20307 non-null  float64
 8   MD           20307 non-null  float64
 9   ML           20307 non-null  float64
 10  Mw           7326 non-null   float64
 11  Ms           20307 non-null  float64
 12  Mb           20307 non-null  float64
 13  Tip          20307 non-null  object
 14  Yer          20307 non-null  object
dtypes: float64(9), int64(2), object(4)
memory usage: 2.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     110 non-null    object
 1   Historic                                   110 non-null    object
 2   Classification Key                         110 non-null    object
 3   Disaster Group                             110 non-null    object
 4   Disaster Subgroup                          110 non-null    object
 5   Disaster Type                              110 non-null    object
 6   Disaster Subtype                           110 non-null    object
 7   External IDs                               26 non-null     object
 8   Event Name                                 0 non-null      float64
 9   ISO                                        110 non-null    object
 10  Country                                    110 non-null    object
 11  Subregion                                  110 non-null    object
 12  Region                                     110 non-null    object
 13  Location                                   106 non-null    object
 14  Origin                                     0 non-null      float64
 15  Associated Types                           8 non-null      object
 16  OFDA/BHA Response                          110 non-null    object
 17  Appeal                                     110 non-null    object
 18  Declaration                                110 non-null    object
 19  AID Contribution ('000 US$)                8 non-null      float64
 20  Magnitude                                  97 non-null     float64
 21  Magnitude Scale                            110 non-null    object
 22  Latitude                                   105 non-null    float64
 23  Longitude                                  105 non-null    float64
 24  River Basin                                1 non-null      float64
 25  Start Year                                 110 non-null    int64
 26  Start Month                                110 non-null    int64
 27  Start Day                                  110 non-null    int64
 28  End Year                                   110 non-null    int64
 29  End Month                                  110 non-null    int64
 30  End Day                                    110 non-null    int64
 31  Total Deaths                               90 non-null     float64
 32  No. Injured                                70 non-null     float64
 33  No. Affected                               48 non-null     float64
 34  No. Homeless                               28 non-null     float64
 35  Total Affected                             78 non-null     float64
 36  Reconstruction Costs ('000 US$)            3 non-null      float64
 37  Reconstruction Costs, Adjusted ('000 US$)  3 non-null      float64
 38  Insured Damage ('000 US$)                  5 non-null      float64
 39  Insured Damage, Adjusted ('000 US$)        5 non-null      float64
 40  Total Damage ('000 US$)                    26 non-null     float64
 41  Total Damage, Adjusted ('000 US$)          25 non-null     float64
 42  CPI                                        108 non-null    float64
 43  Admin Units                                29 non-null     object
 44  Entry Date                                 110 non-null    object
 45  Last Update                                110 non-null    object
dtypes: float64(19), int64(6), object(21)
memory usage: 39.7+ KB

DisNo.                                         0
Historic                                       0
Classification Key                             0
Disaster Group                                 0
Disaster Subgroup                              0
Disaster Type                                  0
Disaster Subtype                               0
External IDs                                  84
Event Name                                   110
ISO                                            0
Country                                        0
Subregion                                      0
Region                                         0
Location                                       4
Origin                                       110
Associated Types                             102
OFDA/BHA Response                              0
Appeal                                         0
Declaration                                    0
AID Contribution ('000 US$)                  102
Magnitude                                     13
Magnitude Scale                                0
Latitude                                       5
Longitude                                      5
River Basin                                  109
Start Year                                     0
Start Month                                    0
Start Day                                      0
End Year                                       0
End Month                                      0
End Day                                        0
Total Deaths                                  20
No. Injured                                   40
No. Affected                                  62
No. Homeless                                  82
Total Affected                                32
Reconstruction Costs ('000 US$)              107
Reconstruction Costs, Adjusted ('000 US$)    107
Insured Damage ('000 US$)                    105
Insured Damage, Adjusted ('000 US$)          105
Total Damage ('000 US$)                       84
Total Damage, Adjusted ('000 US$)             85
CPI                                            2
Admin Units                                   81
Entry Date                                     0
Last Update                                    0
dtype: int64

In [12]:
df_emdat['Total Deaths'].isna().sum()

np.int64(20)

In [14]:
df_emdat[df_emdat['Total Deaths'].isna()][['Location', 'Total Deaths']]

                                              Location  Total Deaths
49                                     Demirci, Manisa           NaN
57                                   Pulumur, Erzincan           NaN
58                                 Dursunvey, Anatolia           NaN
62                         ERZURUM, KARS, AGRI, ARTVIN           NaN
64                                          Aydin area           NaN
67                                        Corum-Amasya           NaN
69                                  Geyhan, Adana area           NaN
73                                            Marmaris           NaN
79                                   Osmaniye province           NaN
80                                    Erzurum province           NaN
83                  Buldan district (Denizli province)           NaN
84       Seferihisar, Konak districts (Izmir province)           NaN
86     Askale, Ilica, Cat districts (Erzurum province)           NaN
89                 Karliova district (Bingol province)           NaN
90                 Karliova district (Bingol province)           NaN
95                       Tekirdag, Canakkale provinces           NaN
96                                              Bodrum           NaN
101    Özalp, Saray, Gürpinar Districts (Van Province)           NaN
107  Kale (Malatya province) , Sanliurfa,Elazig pro...           NaN
108                                     Marmara region           NaN

In [15]:
df_emdat['No. Homeless'].isna().sum()

np.int64(82)

In [16]:
df_emdat_clean = df_emdat.dropna(subset=['Total Deaths'])

In [17]:
df_emdat_clean['Total Deaths'].isna().sum()

np.int64(0)

In [21]:
df_emdat_clean.shape

(90, 46)

In [10]:
df_emdat['Magnitude'].min()

np.float64(4.2)